footer {
  width: 100%;
  height: auto;
  min-height: 50vh;
  background-color: #c82825;
  padding: 3% 10%;
  display: flex;
  flex-direction: column;
}
footer .navegacao {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 999px) {
  footer .navegacao {
    flex-direction: column;
    gap: 40px;
  }
}
footer .navegacao .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .navegacao ul {
  list-style: none;
  display: flex;
  gap: 60px;
}
@media (max-width: 900px) {
  footer .navegacao ul {
    flex-direction: column;
    gap: 10px;
  }
}
footer .navegacao ul li {
  text-align: center;
}
footer .navegacao ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 900;
  transition: 0.4s;
}
footer .navegacao ul li a:hover {
  color: #eee;
  transition: 0.4s;
}
footer .navegacao .redes-sociais {
  display: flex;
  flex-direction: column;
}
footer .navegacao .redes-sociais span {
  color: #fff;
  width: 100%;
  background-color: transparent;
  text-align: center;
  padding: 4px;
  font-size: 1.3em;
  font-weight: 900;
}
footer .navegacao .redes-sociais .links-redes-sociais {
  display: flex;
  gap: 10px;
}
footer .navegacao .redes-sociais .links-redes-sociais .instagram, footer .navegacao .redes-sociais .links-redes-sociais .facebook, footer .navegacao .redes-sociais .links-redes-sociais .linkedin {
  background-size: 40px;
  width: 40px;
  height: 40px;
  transition: 0.4s;
}
footer .navegacao .redes-sociais .links-redes-sociais .instagram:hover, footer .navegacao .redes-sociais .links-redes-sociais .facebook:hover, footer .navegacao .redes-sociais .links-redes-sociais .linkedin:hover {
  transition: 0.4s;
}
footer .navegacao .redes-sociais .links-redes-sociais .instagram {
  background-image: url("../../img/icones/instagram.png");
}
footer .navegacao .redes-sociais .links-redes-sociais .instagram:hover {
  background-image: url("../../img/icones/instagramHOVER.png");
}
footer .navegacao .redes-sociais .links-redes-sociais .facebook {
  background-image: url("../../img/icones/facebook.png");
}
footer .navegacao .redes-sociais .links-redes-sociais .facebook:hover {
  background-image: url("../../img/icones/facebookHOVER.png");
}
footer .navegacao .redes-sociais .links-redes-sociais .linkedin {
  background-image: url("../../img/icones/linkedin.png");
}
footer .navegacao .redes-sociais .links-redes-sociais .linkedin:hover {
  background-image: url("../../img/icones/linkedinHOVER.png");
}
footer .filiais {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .filiais .box-filiais {
  padding-top: 100px;
  min-width: 250px;
  width: 300px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
@media (max-width: 749px) {
  footer .filiais .box-filiais {
    padding-top: 40px;
  }
}
footer .filiais .box-filiais #politica {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 749px) {
  footer .filiais .box-filiais #politica {
    justify-content: center;
  }
}
footer .filiais .box-filiais p {
  color: #fff;
}
@media (max-width: 749px) {
  footer .filiais .box-filiais p {
    text-align: center;
  }
}
footer .filiais .box-filiais a {
  text-decoration: none;
  color: #333;
}
@media (max-width: 749px) {
  footer .filiais .box-filiais a {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */