footer{
    width: 100%;
    height: auto;
    min-height: 50vh;
    background-color: #c82825;
    padding: 3% 10%;
    display: flex;
    flex-direction: column;

   .navegacao{
        background-color: transparent;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 999px){
            flex-direction: column;
            gap: 40px;
        }

        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        ul{
            list-style: none;
            display: flex;
            gap: 60px;

            @media(max-width: 900px){
                flex-direction: column;
                gap: 10px;
            }

            li{
                text-align: center;

                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 1em;
                    letter-spacing: 2px;
                    font-weight: 900;
                    transition: .4s;
                    

                    &:hover{
                        color: #eee;
                        transition: .4s;
                    }
                }
            }
        }
        .redes-sociais{
            display: flex;
            flex-direction: column;

            span{
                color: #fff;
                width: 100%;
                background-color: transparent;
                text-align: center;
                padding: 4px;
                font-size: 1.3em;
                font-weight: 900;
            }

            .links-redes-sociais{
                display: flex;
                gap: 10px;

                .instagram, .facebook, .linkedin{
                    background-size: 40px;
                    width: 40px;
                    height: 40px;
                    transition: .4s;

                    &:hover{
                        transition: .4s;
                    }
                }

                .instagram{
                    background-image: url('../../img/icones/instagram.png');

                    &:hover{
                        background-image: url('../../img/icones/instagramHOVER.png');
                    }
                }
                .facebook{
                    background-image: url('../../img/icones/facebook.png');

                    &:hover{
                        background-image: url('../../img/icones/facebookHOVER.png');
                    }
                }
                .linkedin{
                    background-image: url('../../img/icones/linkedin.png');

                    &:hover{
                        background-image: url('../../img/icones/linkedinHOVER.png');
                    }
                }
            }

        }
   }
   .filiais{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
       
        .box-filiais{
            padding-top: 100px;
            min-width: 250px;
            width: 300px;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            @media(max-width: 749px){
                padding-top: 40px;
            }

            #politica{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @media(max-width: 749px){
                    justify-content: center;
                }
            }


            p{
                color: #fff;

                @media(max-width: 749px){
                    text-align: center;
                }
            }
            a{
                text-decoration: none;
                color: #333;

                @media(max-width: 749px){
                    text-align: center;
                }
            }
        }
   }
}